<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>6</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>56</string>
			<key>comment</key>
			<string>61</string>
			<key>create_time</key>
			<string>2017-06-30 12:48:49</string>
			<key>created_at</key>
			<string>2017-07-03 10:07:04</string>
			<key>ding</key>
			<string>562</string>
			<key>favourite</key>
			<string>6</string>
			<key>hate</key>
			<string>56</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25572724</string>
			<key>love</key>
			<string>562</string>
			<key>name</key>
			<string>搞笑唐老鸭</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-03 10:07:04</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/05/19/591ef91633212_mini.jpg</string>
			<key>repost</key>
			<string>6</string>
			<key>screen_name</key>
			<string>搞笑唐老鸭</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1499047624</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>我今天相亲，地点在一个挺精致的餐厅，男方外表还行，也挺有礼貌，挺大方得体的。饭后看了一场电影，整个过程手还算老实。回来后闺蜜问我：“相亲结果如何？”我：“都还好，可是我觉得不合适。”闺蜜：“为什么不合适？”我：“散步的时候我给他买了一个山楂味儿的雪糕，我问他什么味道？他说酸酸的。我说吃起来像是什么？他说：‘不像什么啊，就是有点酸。’所以，我觉得我们不合适。”闺蜜：“咦～”</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>20037770</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.winapp111.mobi/share/25572724.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>4</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>52</string>
			<key>comment</key>
			<string>42</string>
			<key>create_time</key>
			<string>2017-07-02 13:16:45</string>
			<key>created_at</key>
			<string>2017-07-03 09:08:54</string>
			<key>ding</key>
			<string>820</string>
			<key>favourite</key>
			<string>4</string>
			<key>hate</key>
			<string>52</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25596171</string>
			<key>love</key>
			<string>820</string>
			<key>name</key>
			<string>玉树後廳花</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-03 09:08:54</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/06/29/5954b06454aad_mini.jpg</string>
			<key>repost</key>
			<string>9</string>
			<key>screen_name</key>
			<string>玉树後廳花</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1499044134</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>去公司面试，一路过关斩将总算杀到了最后！就剩下我和另外一个妹子，她看起来信心满满，我却有点紧张。面试官看了看我俩说道：“为了保证公平我们最后这道题是抢答，那么我要出题了，什么东西每天早晨都会准时起来呢？”我俩同时举手，她抢先一步说道：“我知道，是鸡！”面试官摇了摇头：“不对！”示意我说，我一脸懵逼的说道：“不可能呀！应该就是鸡吧？ ”他一拍桌子：“恭喜你答对了，明天就来上班吧！”</string>
			<key>theme_id</key>
			<string>55163</string>
			<key>theme_name</key>
			<string>主版块</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>20308241</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.zk111.cn/share/25596171.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>17</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>105</string>
			<key>comment</key>
			<string>113</string>
			<key>create_time</key>
			<string>2017-06-15 16:02:46</string>
			<key>created_at</key>
			<string>2017-07-03 06:56:01</string>
			<key>ding</key>
			<string>1950</string>
			<key>favourite</key>
			<string>17</string>
			<key>hate</key>
			<string>105</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25387183</string>
			<key>love</key>
			<string>1950</string>
			<key>name</key>
			<string>假装、不介意</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-03 06:56:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/03/18/58cc1b0d5aa97_mini.jpg</string>
			<key>repost</key>
			<string>19</string>
			<key>screen_name</key>
			<string>假装、不介意</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1499036161</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>终于考试结束了，离开校园时，我和闺蜜一起收拾东西准备出发，忽然我看到她被子里掉出一个小本，我疑惑的看着她：“呀！这是个啥？”她笑了笑神秘的说道：“我的日记本，我写着玩的...”见她如此，我好奇心更胜，一下抢了过来，只见上面写到：“3.17日1，3.28日3，5.20日7...”我疑惑的看着她：“呃，这啥？”她脸一下就红了，抢回了日记本，害羞的说道：“都告诉你了！是日记本嘛...”</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>9270503</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.winapp111.mobi/share/25387183.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>22</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>42</string>
			<key>comment</key>
			<string>271</string>
			<key>create_time</key>
			<string>2017-07-01 08:10:05</string>
			<key>created_at</key>
			<string>2017-07-03 04:33:18</string>
			<key>ding</key>
			<string>297</string>
			<key>favourite</key>
			<string>22</string>
			<key>hate</key>
			<string>42</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25581454</string>
			<key>love</key>
			<string>297</string>
			<key>name</key>
			<string>爱上你温柔</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-03 04:33:18</string>
			<key>profile_image</key>
			<string>http://qzapp.qlogo.cn/qzapp/100336987/6677ED7823989EAAF7915B7098B64357/100</string>
			<key>repost</key>
			<string>17</string>
			<key>screen_name</key>
			<string>爱上你温柔</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1499027598</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>自从有了“丁丁”这个词，我发现我再也不能直视 “拉丁舞”“目不识丁”“丁香”“壮丁” “抓壮丁”，请问大家还有什么丁？</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>20882362</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.winapp111.com.cn/share/25581454.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>6</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>80</string>
			<key>comment</key>
			<string>236</string>
			<key>create_time</key>
			<string>2017-07-02 14:17:44</string>
			<key>created_at</key>
			<string>2017-07-02 22:56:01</string>
			<key>ding</key>
			<string>695</string>
			<key>favourite</key>
			<string>6</string>
			<key>hate</key>
			<string>80</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25596796</string>
			<key>love</key>
			<string>695</string>
			<key>name</key>
			<string>青衣沾雨乀醉红尘</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-02 22:56:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/07/02/595887324cad2_mini.jpg</string>
			<key>repost</key>
			<string>8</string>
			<key>screen_name</key>
			<string>青衣沾雨乀醉红尘</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1499007361</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>我想问一下各位抽烟的姐夫们，我是男的但不抽烟，我老婆抽，那种打火机上面印着宾馆字样的，是到处都有的卖还是只有宾馆内部才能拿的到？别开玩笑，对我来说很重要，我发现老婆有一个，她说是买的。。。</string>
			<key>theme_id</key>
			<string>55163</string>
			<key>theme_name</key>
			<string>主版块</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>20373457</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.winapp111.mobi/share/25596796.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>323</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>121</string>
			<key>comment</key>
			<string>107</string>
			<key>create_time</key>
			<string>2015-11-07 20:55:15</string>
			<key>created_at</key>
			<string>2017-07-02 20:56:02</string>
			<key>ding</key>
			<string>1736</string>
			<key>favourite</key>
			<string>323</string>
			<key>hate</key>
			<string>121</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>16196430</string>
			<key>love</key>
			<string>1736</string>
			<key>name</key>
			<string>霸王猫</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-02 20:56:02</string>
			<key>profile_image</key>
			<string>http://qzapp.qlogo.cn/qzapp/100336987/F494BFB6AE0DF9319FBC6F262A80495B/100</string>
			<key>repost</key>
			<string>171</string>
			<key>screen_name</key>
			<string>霸王猫</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1499000162</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>就算你觉得自己是一坨臭狗屎，也会遇到一个心地善良的屎壳郎，不远万里找到你，然后当成宝贝，再不远万里地把你滚回家，一路上悉心呵护着你，怕你被抢了，被踩扁了，或者撞到石头，一心想着把你变成家里的镇宅之宝。
别怀疑，世界有时候就是这么美好。</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>12079085</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.zk111.com.cn/share/16196430.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>41</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>213</string>
			<key>comment</key>
			<string>122</string>
			<key>create_time</key>
			<string>2017-06-14 18:38:08</string>
			<key>created_at</key>
			<string>2017-07-02 17:56:02</string>
			<key>ding</key>
			<string>3769</string>
			<key>favourite</key>
			<string>41</string>
			<key>hate</key>
			<string>213</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25376031</string>
			<key>love</key>
			<string>3769</string>
			<key>name</key>
			<string>蔷薇心事，请勿打扰</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-02 17:56:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/02/18/58a80163b3544_mini.jpg</string>
			<key>repost</key>
			<string>48</string>
			<key>screen_name</key>
			<string>蔷薇心事，请勿打扰</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1498989362</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>养了一对小仓鼠，好吃好喝的供着，巴巴的望着它们生崽，期待啊~~
然后母仓鼠怀孕了，激动啊~~
然后生了一对小仓鼠，兴奋啊~~
然后小仓鼠长大了，一家四口其乐融融，和谐啊~~
然后仓鼠妈妈和仓鼠女儿同时怀孕了，凌乱啊~~
然后两窝生了13只，恐怖啊~~
然后伙食不够吃，被吃了3只，畜生啊~~</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array>
				<dict>
					<key>cmt_type</key>
					<string>29</string>
					<key>content</key>
					<string>竟敢如此侮辱我大日本帝国</string>
					<key>ctime</key>
					<string>2017-06-14 21:53:04</string>
					<key>data_id</key>
					<string>25376031</string>
					<key>id</key>
					<string>82478805</string>
					<key>like_count</key>
					<string>407</string>
					<key>precid</key>
					<string>0</string>
					<key>precmt</key>
					<array/>
					<key>preuid</key>
					<string>0</string>
					<key>status</key>
					<string>2</string>
					<key>user</key>
					<dict>
						<key>id</key>
						<string>6850618</string>
						<key>is_vip</key>
						<false/>
						<key>personal_page</key>
						<string>http://user.qzone.qq.com/57EDA48EACF61B2E29178A7A77753D70</string>
						<key>profile_image</key>
						<string>http://qzapp.qlogo.cn/qzapp/100336987/57EDA48EACF61B2E29178A7A77753D70/100</string>
						<key>qq_uid</key>
						<string></string>
						<key>qzone_uid</key>
						<string>57EDA48EACF61B2E29178A7A77753D70</string>
						<key>sex</key>
						<string>m</string>
						<key>total_cmt_like_count</key>
						<string>1089</string>
						<key>username</key>
						<string>透出骨子里的骄傲123</string>
						<key>weibo_uid</key>
						<string></string>
					</dict>
					<key>voicetime</key>
					<string></string>
					<key>voiceuri</key>
					<string></string>
				</dict>
			</array>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>20255638</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.zk111.cn/share/25376031.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>188</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>271</string>
			<key>comment</key>
			<string>155</string>
			<key>create_time</key>
			<string>2017-06-13 21:00:17</string>
			<key>created_at</key>
			<string>2017-07-02 15:56:02</string>
			<key>ding</key>
			<string>5052</string>
			<key>favourite</key>
			<string>188</string>
			<key>hate</key>
			<string>271</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25364857</string>
			<key>love</key>
			<string>5052</string>
			<key>name</key>
			<string>你走了心空了</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-02 15:56:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/06/24/594e363300625_mini.jpg</string>
			<key>repost</key>
			<string>183</string>
			<key>screen_name</key>
			<string>你走了心空了</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1498982162</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>一个朋友，淘宝用户名是“我爹”，每次快递员给他送货的时候总是很为难：“你是…我爹吗？”“你是我爹吧，下楼取快递。”“是…我爹…吧，这有你的快递…”
后来……
快递员:喂你好，你叫我爹对吧？
朋友:你……是？
快递员:你是不是叫我爹？
朋友:你是谁？
快递员:我问你叫我爹对不对？
朋友:你到底干啥？
快递员:你要是叫我爹我就把快递给你送过去。</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>19740373</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.winapp111.mobi/share/25364857.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>29</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>145</string>
			<key>comment</key>
			<string>124</string>
			<key>create_time</key>
			<string>2017-07-01 12:13:55</string>
			<key>created_at</key>
			<string>2017-07-02 13:56:01</string>
			<key>ding</key>
			<string>1020</string>
			<key>favourite</key>
			<string>29</string>
			<key>hate</key>
			<string>145</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25583748</string>
			<key>love</key>
			<string>1020</string>
			<key>name</key>
			<string>搞笑唐老鸭</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-02 13:56:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/05/19/591ef91633212_mini.jpg</string>
			<key>repost</key>
			<string>35</string>
			<key>screen_name</key>
			<string>搞笑唐老鸭</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1498974961</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>今天中午，暗恋很久的高富帅给我打电话说请我吃饭，还说去的时候给他带核桃，我跑了整个市场都没有找到卖核桃的，就买了些水果带过去，谁知道高富帅竟然把我赶了出来，为什么，我连饭都没有吃！</string>
			<key>theme_id</key>
			<string>55163</string>
			<key>theme_name</key>
			<string>主版块</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array>
				<dict>
					<key>cmt_type</key>
					<string>29</string>
					<key>content</key>
					<string>多么卑贱的约炮，不仅带逼还要带套。</string>
					<key>ctime</key>
					<string>2017-07-02 15:31:57</string>
					<key>data_id</key>
					<string>25583748</string>
					<key>id</key>
					<string>83863427</string>
					<key>like_count</key>
					<string>357</string>
					<key>precid</key>
					<string>0</string>
					<key>precmt</key>
					<array/>
					<key>preuid</key>
					<string>0</string>
					<key>status</key>
					<string>0</string>
					<key>user</key>
					<dict>
						<key>id</key>
						<string>18484179</string>
						<key>is_vip</key>
						<false/>
						<key>personal_page</key>
						<string>http://user.qzone.qq.com/A65BB7E63BA066C26042713E2CD9E0BC</string>
						<key>profile_image</key>
						<string>http://wimg.spriteapp.cn/profile/large/2017/07/02/5958a34466b4b_mini.jpg</string>
						<key>qq_uid</key>
						<string></string>
						<key>qzone_uid</key>
						<string>A65BB7E63BA066C26042713E2CD9E0BC</string>
						<key>sex</key>
						<string>f</string>
						<key>total_cmt_like_count</key>
						<string>1123</string>
						<key>username</key>
						<string>百思不得姐之大姨妈</string>
						<key>weibo_uid</key>
						<string></string>
					</dict>
					<key>voicetime</key>
					<string></string>
					<key>voiceuri</key>
					<string></string>
				</dict>
			</array>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>20037770</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.budejie.com/share/25583748.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>5</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>150</string>
			<key>comment</key>
			<string>210</string>
			<key>create_time</key>
			<string>2017-06-15 10:47:42</string>
			<key>created_at</key>
			<string>2017-07-02 11:56:02</string>
			<key>ding</key>
			<string>1398</string>
			<key>favourite</key>
			<string>5</string>
			<key>hate</key>
			<string>150</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25383818</string>
			<key>love</key>
			<string>1398</string>
			<key>name</key>
			<string>养了一只小仙女儿</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-02 11:56:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/06/24/594dcdbdde0de_mini.jpg</string>
			<key>repost</key>
			<string>11</string>
			<key>screen_name</key>
			<string>养了一只小仙女儿</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1498967762</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>新交一个漂亮的女朋友，到哪里都有羡慕的眼神，慢慢的我发现我的男性朋友多了起来，老板也主动打电话请我吃饭，我想问问大家，我是好运来了吗，就刚才，老板打电话让我加班，说好好干，准备提拔我~</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>20824222</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.budejie.com/share/25383818.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>40</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>181</string>
			<key>comment</key>
			<string>126</string>
			<key>create_time</key>
			<string>2017-06-08 15:54:23</string>
			<key>created_at</key>
			<string>2017-07-02 09:56:01</string>
			<key>ding</key>
			<string>2547</string>
			<key>favourite</key>
			<string>40</string>
			<key>hate</key>
			<string>181</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25295098</string>
			<key>love</key>
			<string>2547</string>
			<key>name</key>
			<string>姑娘请自重贫道已有师太</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-02 09:56:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/05/09/591195fc77b8e_mini.jpg</string>
			<key>repost</key>
			<string>41</string>
			<key>screen_name</key>
			<string>姑娘请自重贫道已有师太</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1498960561</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>和一女孩相亲，相谈甚欢，这时她含羞到:“可以问你一个隐私的问题吗？”我点点头:“当然可以，有话自说。”她红着脸问:“你吃酒吗？”我心里暗暗好笑，这哪是隐私问题，是生活习惯好不好，于是如实回答:“我不吃酒。”然后她就说有事先走了……猛然间我醒悟过来，看着她远去的背影我大喊:“等等，刚才的问题请你用普通话再问一遍……”</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>7048910</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.winapp111.mobi/share/25295098.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>44</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>191</string>
			<key>comment</key>
			<string>157</string>
			<key>create_time</key>
			<string>2017-06-14 09:14:25</string>
			<key>created_at</key>
			<string>2017-07-02 09:15:35</string>
			<key>ding</key>
			<string>2625</string>
			<key>favourite</key>
			<string>44</string>
			<key>hate</key>
			<string>191</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25370039</string>
			<key>love</key>
			<string>2625</string>
			<key>name</key>
			<string>一个好女孩</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-02 09:15:35</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/06/02/593114b258224_mini.jpg</string>
			<key>repost</key>
			<string>29</string>
			<key>screen_name</key>
			<string>一个好女孩</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1498958135</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>我喜欢饭前到江边散步，经常发现有一老伯拿最贵的鱼粮在垂钓，却一无所获。我好奇，便问他：你天天钓不到鱼，为何天天还是来钓？老伯：我退休工资一万多，无不良嗜好，还有几套房子，老伴对我无法挑剔！所以买最贵的鱼粮来钓鱼，让她唠叨唠叨我，不然以她那么内向的性格，会闷出病的！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array>
				<dict>
					<key>cmt_type</key>
					<string>29</string>
					<key>content</key>
					<string>大爷，缺儿子么。光花钱不干活那种</string>
					<key>ctime</key>
					<string>2017-06-14 12:17:58</string>
					<key>data_id</key>
					<string>25370039</string>
					<key>id</key>
					<string>82444187</string>
					<key>like_count</key>
					<string>426</string>
					<key>precid</key>
					<string>0</string>
					<key>precmt</key>
					<array/>
					<key>preuid</key>
					<string>0</string>
					<key>status</key>
					<string>0</string>
					<key>user</key>
					<dict>
						<key>id</key>
						<string>18510287</string>
						<key>is_vip</key>
						<false/>
						<key>personal_page</key>
						<string>http://m.weibo.com/u/5941704443</string>
						<key>profile_image</key>
						<string>http://tva4.sinaimg.cn/crop.0.0.960.960.50/006u6MKDjw8f4dvz7hdcrj30qo0qodgs.jpg</string>
						<key>qq_uid</key>
						<string></string>
						<key>qzone_uid</key>
						<string></string>
						<key>sex</key>
						<string>m</string>
						<key>total_cmt_like_count</key>
						<string>8202</string>
						<key>username</key>
						<string>朝阳区巡逻队大队长</string>
						<key>weibo_uid</key>
						<string>5941704443</string>
					</dict>
					<key>voicetime</key>
					<string></string>
					<key>voiceuri</key>
					<string></string>
				</dict>
			</array>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>20340476</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.winapp111.cn/share/25370039.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>33</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>149</string>
			<key>comment</key>
			<string>275</string>
			<key>create_time</key>
			<string>2017-06-29 10:43:50</string>
			<key>created_at</key>
			<string>2017-07-02 06:56:01</string>
			<key>ding</key>
			<string>1184</string>
			<key>favourite</key>
			<string>33</string>
			<key>hate</key>
			<string>149</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25559587</string>
			<key>love</key>
			<string>1184</string>
			<key>name</key>
			<string>放假啦啦啦啦</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-02 06:56:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/03/01/58b6e708da1cc_mini.jpg</string>
			<key>repost</key>
			<string>31</string>
			<key>screen_name</key>
			<string>放假啦啦啦啦</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1498949761</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>昨天晚上和男朋友翻云覆雨之后，相拥着入睡。中途做了个梦，梦见自己很饿，饿的实在受不了就把男朋友吃了，一大早起来一看，男盆友真让我吃了，就剩一半了……………………唉！这让我晚上怎么用啊，大家帮帮忙想个办法，在线等，挺急</string>
			<key>theme_id</key>
			<string>55163</string>
			<key>theme_name</key>
			<string>主版块</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>20326596</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.budejie.com/share/25559587.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>14</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>107</string>
			<key>comment</key>
			<string>279</string>
			<key>create_time</key>
			<string>2017-07-01 11:01:29</string>
			<key>created_at</key>
			<string>2017-07-02 03:56:02</string>
			<key>ding</key>
			<string>946</string>
			<key>favourite</key>
			<string>14</string>
			<key>hate</key>
			<string>107</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25582987</string>
			<key>love</key>
			<string>946</string>
			<key>name</key>
			<string>Deer丶Ear</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-02 03:56:02</string>
			<key>profile_image</key>
			<string>http://qzapp.qlogo.cn/qzapp/100336987/6777E344E5EBADC2BC7547B93EC50448/100</string>
			<key>repost</key>
			<string>17</string>
			<key>screen_name</key>
			<string>Deer丶Ear</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1498938962</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>在野外大便的时候，千万不要把用完的手纸随便乱丢，一定得找个石头压着。尤其是风大的时候，容易刮到脸上了。切记切记，切记啊！</string>
			<key>theme_id</key>
			<string>55163</string>
			<key>theme_name</key>
			<string>主版块</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>20744402</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.budejie.com/share/25582987.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>32</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>75</string>
			<key>comment</key>
			<string>145</string>
			<key>create_time</key>
			<string>2017-06-29 12:45:00</string>
			<key>created_at</key>
			<string>2017-07-01 20:56:01</string>
			<key>ding</key>
			<string>794</string>
			<key>favourite</key>
			<string>32</string>
			<key>hate</key>
			<string>75</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25560821</string>
			<key>love</key>
			<string>794</string>
			<key>name</key>
			<string>一个好女孩</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-01 20:56:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/06/02/593114b258224_mini.jpg</string>
			<key>repost</key>
			<string>15</string>
			<key>screen_name</key>
			<string>一个好女孩</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1498913761</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>别傻了，女神也是会挖耳朵，搓眼屎，抠鼻屎，抠牙齿里的金针菇和青菜，也会几天不换内衣裤，也会拉屎，甚至吃坏肚子的时候拉得噗噗噗噗的，有时候也会抠脚丫，脱了鞋都滚上床，你说你们这些老实人都在执着什么？</string>
			<key>theme_id</key>
			<string>55163</string>
			<key>theme_name</key>
			<string>主版块</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>20340476</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.winapp111.com/share/25560821.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>50</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>140</string>
			<key>comment</key>
			<string>294</string>
			<key>create_time</key>
			<string>2017-06-10 12:19:30</string>
			<key>created_at</key>
			<string>2017-07-01 17:56:02</string>
			<key>ding</key>
			<string>2260</string>
			<key>favourite</key>
			<string>50</string>
			<key>hate</key>
			<string>140</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25319494</string>
			<key>love</key>
			<string>2260</string>
			<key>name</key>
			<string>King;”♚ZB4</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-01 17:56:02</string>
			<key>profile_image</key>
			<string>http://wx.qlogo.cn/mmopen/Q3auHgzwzM4LQ0sOuHFs8JTichVcfmlsFb6UiaMibrmb5Z1XxA4icGJqPXqpyeEgRAicgBCFNQV5sJKgjQpDw7aoIGA/0</string>
			<key>repost</key>
			<string>13</string>
			<key>screen_name</key>
			<string>King;”♚ZB4</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1498902962</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>我违反了保密协议，正在被通缉，我觉得我很快就会被抓走，这个秘密我不得不说了，其实人类已经在2012年12月25日世界末日灭绝的差不多了，仅存了一批科学家和不到一百个幸存者，开启了拯救毁灭计划，用了五年时间，终于解开了时间重置秘密，然后时间重置到2012年1月，并且跳过了末日，然后幸存者被消除了记忆，我是其中一个科学家，你们有些人会偶尔发现一些事情曾经做过，又记不起来，梦见一些没见过的场景，人，就是因为你们有残存的记忆…</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>20881727</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.winapp111.com.cn/share/25319494.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>79</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>201</string>
			<key>comment</key>
			<string>257</string>
			<key>create_time</key>
			<string>2017-06-20 16:05:01</string>
			<key>created_at</key>
			<string>2017-07-01 15:56:02</string>
			<key>ding</key>
			<string>2459</string>
			<key>favourite</key>
			<string>79</string>
			<key>hate</key>
			<string>201</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25451314</string>
			<key>love</key>
			<string>2459</string>
			<key>name</key>
			<string>糖蕾</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-01 15:56:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/06/29/595464602bb35_mini.jpg</string>
			<key>repost</key>
			<string>30</string>
			<key>screen_name</key>
			<string>糖蕾</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1498895762</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>没有脚气的姐夫们，你们永远不会知道脚气犯了，用手用力搓完以后的快感，跟高潮不相上下！！！啊～不行！我再去搓一遍！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array>
				<dict>
					<key>cmt_type</key>
					<string>29</string>
					<key>content</key>
					<string>赞都不敢点，怕挨到文字，传染</string>
					<key>ctime</key>
					<string>2017-06-21 10:53:30</string>
					<key>data_id</key>
					<string>25451314</string>
					<key>id</key>
					<string>82964080</string>
					<key>like_count</key>
					<string>487</string>
					<key>precid</key>
					<string>0</string>
					<key>precmt</key>
					<array/>
					<key>preuid</key>
					<string>0</string>
					<key>status</key>
					<string>0</string>
					<key>user</key>
					<dict>
						<key>id</key>
						<string>8429176</string>
						<key>is_vip</key>
						<false/>
						<key>personal_page</key>
						<string>http://user.qzone.qq.com/EA48126D3E69A8BAB698D18EC9E808D7</string>
						<key>profile_image</key>
						<string>http://qzapp.qlogo.cn/qzapp/100336987/EA48126D3E69A8BAB698D18EC9E808D7/100</string>
						<key>qq_uid</key>
						<string></string>
						<key>qzone_uid</key>
						<string>EA48126D3E69A8BAB698D18EC9E808D7</string>
						<key>sex</key>
						<string>m</string>
						<key>total_cmt_like_count</key>
						<string>3998</string>
						<key>username</key>
						<string>TFF</string>
						<key>weibo_uid</key>
						<string></string>
					</dict>
					<key>voicetime</key>
					<string></string>
					<key>voiceuri</key>
					<string></string>
				</dict>
			</array>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>20352976</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.zk111.net/share/25451314.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>43</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>275</string>
			<key>comment</key>
			<string>120</string>
			<key>create_time</key>
			<string>2017-07-01 11:45:51</string>
			<key>created_at</key>
			<string>2017-07-01 13:56:01</string>
			<key>ding</key>
			<string>4299</string>
			<key>favourite</key>
			<string>43</string>
			<key>hate</key>
			<string>275</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25583475</string>
			<key>love</key>
			<string>4299</string>
			<key>name</key>
			<string>神马情况这是</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-01 13:56:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/06/15/59429c46ba478_mini.jpg</string>
			<key>repost</key>
			<string>14</string>
			<key>screen_name</key>
			<string>神马情况这是</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1498888561</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>今天去相亲，见了面发现妹子正是我喜欢的淑女类型。
一番寒喧之后，进入正题，可是妹子不按套路出牌呀，她什么也不问我，什么车呀，房呀，学历呀，统统不问。
我有点纳闷了，难道我太帅了？妹子被我的帅气迷晕了？
不对呀！现在妹子都喜欢有钱的！我得找机会透露我很有钱的样子！
妹子问我喝咖啡要加糖呜？
我笑笑：加糖对我开法拉利有影响吗？另外喝咖啡后我能摸到我半岛别墅的家吗？</string>
			<key>theme_id</key>
			<string>55163</string>
			<key>theme_name</key>
			<string>主版块</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array>
				<dict>
					<key>cmt_type</key>
					<string>29</string>
					<key>content</key>
					<string>法拉利什么时候开始造轮椅了？</string>
					<key>ctime</key>
					<string>2017-07-01 13:04:23</string>
					<key>data_id</key>
					<string>25583475</string>
					<key>id</key>
					<string>83777570</string>
					<key>like_count</key>
					<string>321</string>
					<key>precid</key>
					<string>0</string>
					<key>precmt</key>
					<array/>
					<key>preuid</key>
					<string>0</string>
					<key>status</key>
					<string>0</string>
					<key>user</key>
					<dict>
						<key>id</key>
						<string>5803631</string>
						<key>is_vip</key>
						<false/>
						<key>personal_page</key>
						<string>http://user.qzone.qq.com/772D90617C1E54A2A45B19A646A640BA</string>
						<key>profile_image</key>
						<string>http://qzapp.qlogo.cn/qzapp/100336987/772D90617C1E54A2A45B19A646A640BA/100</string>
						<key>qq_uid</key>
						<string></string>
						<key>qzone_uid</key>
						<string>772D90617C1E54A2A45B19A646A640BA</string>
						<key>sex</key>
						<string>m</string>
						<key>total_cmt_like_count</key>
						<string>459</string>
						<key>username</key>
						<string>思琪kiwi</string>
						<key>weibo_uid</key>
						<string></string>
					</dict>
					<key>voicetime</key>
					<string></string>
					<key>voiceuri</key>
					<string></string>
				</dict>
			</array>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>17588230</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.zk111.net/share/25583475.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>39</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>192</string>
			<key>comment</key>
			<string>179</string>
			<key>create_time</key>
			<string>2017-06-19 12:10:05</string>
			<key>created_at</key>
			<string>2017-07-01 11:56:02</string>
			<key>ding</key>
			<string>1740</string>
			<key>favourite</key>
			<string>39</string>
			<key>hate</key>
			<string>192</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25435078</string>
			<key>love</key>
			<string>1740</string>
			<key>name</key>
			<string>老叫花子吃吃吃</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-01 11:56:02</string>
			<key>profile_image</key>
			<string>http://qzapp.qlogo.cn/qzapp/100336987/2E21E6538F7C9ABF50F2A468F4FE29CD/100</string>
			<key>repost</key>
			<string>51</string>
			<key>screen_name</key>
			<string>老叫花子吃吃吃</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1498881362</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>朋友本人没啥本事，娶的老婆却非常漂亮。今天问了一下他老婆，当年追她的人那么多，为啥选我兄弟？他老婆说那么多追她的人里面，就他不打呼噜！听完我心头一暖，原来幸福可以如此简单的得到！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>20275723</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.zk111.com.cn/share/25435078.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>136</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>236</string>
			<key>comment</key>
			<string>1388</string>
			<key>create_time</key>
			<string>2017-06-30 17:13:00</string>
			<key>created_at</key>
			<string>2017-07-01 09:56:01</string>
			<key>ding</key>
			<string>3728</string>
			<key>favourite</key>
			<string>136</string>
			<key>hate</key>
			<string>236</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>25575227</string>
			<key>love</key>
			<string>3728</string>
			<key>name</key>
			<string>假装、不介意</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2017-07-01 09:56:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2017/03/18/58cc1b0d5aa97_mini.jpg</string>
			<key>repost</key>
			<string>244</string>
			<key>screen_name</key>
			<string>假装、不介意</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1498874161</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>现在的粑粑麻麻给宝宝取名也真没脑子，网上随便一扒，就给宝宝取了个高大上名字。去幼儿园，子轩对紫萱说紫轩拿了子萱的钱给梓萱买梓轩的铅笔，然后你去接孩子喊一声，一眼望过去，众多孩子回头看你，还真有点“傻傻分不清楚”。再过五六十年，崩爆米花的大爷叫“梓轩”，看自行车的大妈叫“子萱”，想想都很有喜感的一面啊！</string>
			<key>theme_id</key>
			<string>55163</string>
			<key>theme_name</key>
			<string>主版块</string>
			<key>theme_type</key>
			<string>1</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array>
				<dict>
					<key>cmt_type</key>
					<string>29</string>
					<key>content</key>
					<string>昭字寓意光明坦荡，不走弯路。斌字文武，两不或缺。所以你的孩子就叫王昭斌吧</string>
					<key>ctime</key>
					<string>2017-07-01 10:32:04</string>
					<key>data_id</key>
					<string>25575227</string>
					<key>id</key>
					<string>83768064</string>
					<key>like_count</key>
					<string>859</string>
					<key>precid</key>
					<string>83732482</string>
					<key>precmt</key>
					<dict>
						<key>cmt_type</key>
						<string>29</string>
						<key>content</key>
						<string>我老婆生了个儿子求各位姐夫赐名，我姓刘！</string>
						<key>ctime</key>
						<string>2017-06-30 21:03:27</string>
						<key>data_id</key>
						<string>25575227</string>
						<key>id</key>
						<string>83732482</string>
						<key>like_count</key>
						<string>203</string>
						<key>precid</key>
						<string>0</string>
						<key>preuid</key>
						<string>0</string>
						<key>status</key>
						<string>0</string>
						<key>user</key>
						<dict>
							<key>id</key>
							<string>6102220</string>
							<key>is_vip</key>
							<false/>
							<key>personal_page</key>
							<string>http://user.qzone.qq.com/7AAC540F1F28BCEC2EB98F3C3BAC9EFF</string>
							<key>profile_image</key>
							<string>http://qzapp.qlogo.cn/qzapp/100336987/7AAC540F1F28BCEC2EB98F3C3BAC9EFF/100</string>
							<key>qq_uid</key>
							<string></string>
							<key>qzone_uid</key>
							<string>7AAC540F1F28BCEC2EB98F3C3BAC9EFF</string>
							<key>sex</key>
							<string>m</string>
							<key>total_cmt_like_count</key>
							<string>382</string>
							<key>username</key>
							<string>Just because</string>
							<key>weibo_uid</key>
							<string></string>
						</dict>
						<key>voicetime</key>
						<string>0</string>
						<key>voiceuri</key>
						<string></string>
					</dict>
					<key>preuid</key>
					<string>6102220</string>
					<key>status</key>
					<string>0</string>
					<key>user</key>
					<dict>
						<key>id</key>
						<string>20905849</string>
						<key>is_vip</key>
						<false/>
						<key>personal_page</key>
						<string>http://user.qzone.qq.com/433663FA88752D780F855ED599290A7F</string>
						<key>profile_image</key>
						<string>http://wimg.spriteapp.cn/profile/large/2017/06/21/594a7558596e1_mini.jpg</string>
						<key>qq_uid</key>
						<string></string>
						<key>qzone_uid</key>
						<string>433663FA88752D780F855ED599290A7F</string>
						<key>sex</key>
						<string>f</string>
						<key>total_cmt_like_count</key>
						<string>15911</string>
						<key>username</key>
						<string>青草味的小胖次丶</string>
						<key>weibo_uid</key>
						<string></string>
					</dict>
					<key>voicetime</key>
					<string></string>
					<key>voiceuri</key>
					<string></string>
				</dict>
			</array>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>9270503</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.zk111.com.cn/share/25575227.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
